
.HPCDiv{
    text-align: justify;
    color: #8B99AE;
    font-size: 130%;
    line-height: 1.7;
    font-family: "cursive";
    font-weight: 300;
    position: relative;
    top: -130px
}

.homeSvg{
    max-width: 100%;
    position: absolute;
    left: 1200px;
    top: 115px;
    transform: translateX(10px);
    opacity: 0;
    transition: 1.5s;
}
.homeSvg.show{
    transform: translateX(0px);
    opacity: 1;
}
.HPCImg{
    width: 200px;
    height: auto;
    border-radius: 50%;
    padding: 0px;
}
@media (max-width:500px) {
    .HPCContainer{
        max-width: 218px;
        font-size: 13px;
        margin: -255px auto
    }
    .HPCDiv{
        line-height: 1.2;
        font-weight: 300;
        position: relative;
        top: 30px;
        right: 60px;
        width: 93vw;

    }
    .HPCImg{
        width: 150px;
        height: auto;
        border-radius: 50%;
        padding: 0px;
        position: relative;
        left: 30%;
    }
    .homeSvg{
        max-width: 90%;
        position: absolute;
        left: 10px;
        top:200px
    }
    .hand{
        transform: scaleY(-1);
        margin-left:40px;
        animation: blink 1s steps(5, start) infinite;
    }
}
.hand{
    transform: scaleY(-1);
    margin-left:20px;
    animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to{
        visibility: hidden;
    }
}

/* @media (max-width:1500px) {
    .HPCContainer{
        max-width: 600px;
        font-size: 13px;
    }
    .HPCDiv{text-align: justify;
    color: #8B99AE;
    font-size: 130%;
    line-height: 1.7;
    font-family: "cursive";
    font-weight: 300;
    position: relative;
    top: -210px;
    right: 312px;
    }
    .homeSvg{
        max-width: 50%;
        position: absolute;
        left: 800px;
        top: -8px;
    }
} */
@media (max-width:1500px) {
    .HPCContainer {
        max-width: 454px;
        font-size: 13px;
    }
    .HPCDiv{text-align: justify;
    color: #8B99AE;
    font-size: 130%;
    line-height: 1.7;
    font-family: "cursive";
    font-weight: 300;
    position: relative;
    top: -210px;
    right: 312px;
    }
    .homeSvg{
        max-width: 50%;
        position: absolute;
        left: 625px;
        top: 45px;
    }
}
@media (max-width:900px) {
    .HPCContainer {
        max-width: 410px;
        font-size: 13px;
    }
    .HPCDiv{text-align: justify;
    color: #8B99AE;
    font-size: 130%;
    line-height: 1.7;
    font-family: "cursive";
    font-weight: 300;
    position: relative;
    top: -210px;
    right: 124px
    }
    .homeSvg{
        max-width: 60%;
        position: absolute;
        left: 453px;
        top: 129px;
    }
}
@media (max-width:1536px) {
    .HPCContainer {
        max-width: 665px;
        font-size: 13px;
    }
    .HPCDiv{text-align: justify;
    color: #8B99AE;
    font-size: 130%;
    line-height: 1.7;
    font-family: "cursive";
    font-weight: 300;
    position: relative;
    top: -135px;
    right: 278px;
    }
    .homeSvg{
        max-width: 60%;
        position: absolute;
        left: 852px;
        top: 30px;
    }
}
@media (max-width:390px) {
    .HPCContainer{
        max-width: 218px;
        font-size: 13px;
        margin: -255px auto
    }
    .HPCDiv{
        line-height: 1.2;
        font-weight: 300;
        position: relative;
        top: 30px;
        right:60px;
        width: 93vw;

    }
    .HPCImg{
        width: 150px;
        height: auto;
        border-radius: 50%;
        padding: 0px;
        position: relative;
        left: 30%;
    }
    .homeSvg{
        max-width: 90%;
        position: absolute;
        left: 10px;
        top:200px
    }
    .hand{
        transform: scaleY(-1);
        margin-left:40px;
        animation: blink 1s steps(5, start) infinite;
    }
}